/*
* zegnaranking-mapreport
*/

.zegnaranking-mapreport .card-img img {
    max-width: 100%;
}

.zegnaranking-mapreport .card .points {
    color: #455a64;
    font-size: 1.5rem;
    padding: 10px 0 8px 0;
    background-color: #f1c40f;
}

/*
* zegnaranking-groupreport
*/
.zegnaranking-groupreport h3 {
    margin: 1rem 0;
}

.zegnaranking-groupreport .table thead {
    background-color: #2462ad;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.zegnaranking-groupreport .table tbody tr:hover {
    background-color: #f2f2f2;
}
.zegnaranking-groupreport .table tbody tr:hover td:last-child {
    background-color: #c49d66;
}

.zegnaranking-groupreport .table tbody tr:hover td:last-child a {
    color: #fff;
}

.zegnaranking-groupreport .table tbody tr th,
.zegnaranking-groupreport .table tbody tr td a {
    color: #2462ad;
}

.zegnaranking-groupreport .table tbody tr th {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
}

.zegnaranking-groupreport .table tbody tr th,
.zegnaranking-groupreport .table tbody tr td {
    vertical-align: middle;
}

.zegnaranking-groupreport .table tbody tr td:last-child a {
    font-size: 2rem;
    text-align: right;
}

.zegnaranking-groupreport .table tbody tr td:last-child .mini {
    font-size: 1.2rem;
}

/*
* zegnaranking-modulereport
*/
.zegnaranking-modulereport h3 {
    margin: 1rem 0;
}

.zegnaranking-modulereport .table {
    width: calc(100% - 20px);
}

.zegnaranking-modulereport .table td {
    border-top: none;
    border-bottom: 3px dashed #f4f4f4;
}

.zegnaranking-modulereport .pos-circle {
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    font-size: 4rem;
    text-align: center;
}

.zegnaranking-modulereport .user-info {
    border-right: 1px solid #f4f4f4;
    border-left: 1px solid #f4f4f4;
    padding: 0 30px;
}

.zegnaranking-modulereport .user-info img,
.zegnaranking-modulereport .user-info .user-name {
    float: left;
}

.zegnaranking-modulereport .user-info img {
    border-radius: 50px;
}
.zegnaranking-modulereport .user-info .user-name {
    font-size: 2rem;
    word-wrap: break-word;
    text-transform: uppercase;
    margin-left: 10px;
}

.zegnaranking-modulereport .table tr td {
    vertical-align: middle;
}

.zegnaranking-modulereport .ribbon {
    position: relative;
    min-width: 200px;
    height: 80px;
    line-height: 80px;
    margin: 0 10px;
    background: #2462ad;
    font-size: 3em;
    text-align: center;
    color: #fff;
}

.zegnaranking-modulereport .ribbon .mini {
    font-size: 1rem;
}

.zegnaranking-modulereport .ribbon:before {
  content: '';
  position: absolute;
  top: 0;
  right: -30px;
  width: 0;
  height: 0;
  border-right: 30px solid transparent;
  border-top: 40px solid #2462ad;
  border-bottom: 40px solid #2462ad;
}
