{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_zegnaranking/groupranking_page

    Print the module ranking.

    Example context (json):
    {
        "regions": [{
            "groupname": "North America",
            "points": "123"
        }]
    }
}}

<table class="zegnarankingTable table table-striped generaltable table-hover">
    <thead>
        <tr>
            <th>{{#str}} group, block_zegnaranking{{/str}}</th>
            <th>{{#str}} table_points, block_zegnaranking{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#regions}}
            <tr>
                <td>
                    <a href="{{{config.wwwroot}}}/blocks/zegnaranking/groupranking.php?groupid={{{id}}}">{{{picture}}} {{{name}}}
                </td>
                <td>{{{points}}}</td>
            </tr>
        {{/regions}}
    </tbody>
</table>

{{^regions}}
    {{#str}} nogroups, block_zegnaranking {{/str}}
{{/regions}}
