{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_zegnaranking/groupranking_page

    Print the group ranking.

    Example context (json):
    {
        "groupid": "1",
        "groupname": "South America",
        "modules": [{
            "id": "1",
            "itemname": "Activity blah",
            "itemmodule": "23",
            "points": "312"
        }]
    }
}}

<h5><a href="{{config.wwwroot}}/blocks/zegnaranking/mapranking.php?courseid={{{courseid}}}">{{#str}} backtomap, block_zegnaranking{{/str}} </a></h5>

<h3>{{{ groupname }}}</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th><i class="fa fa-angle-double-right"></i> {{#str}} module, block_zegnaranking{{/str}}</th>
            <th width="20%"><i class="fa fa-angle-double-right"></i> {{#str}} pts, block_zegnaranking{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#modules}}
            <tr>
                <th scope="row">{{{itemname}}}</th>
                <td><a href="{{config.wwwroot}}/blocks/zegnaranking/moduleranking.php?itemid={{{id}}}&groupid={{{groupid}}}">{{{points}}}<span class="mini">pts</span></a></td>
            </tr>
        {{/modules}}
    </tbody>
</table>

{{^modules}}
    {{#str}} nomodules, block_zegnaranking {{/str}}
{{/modules}}
