{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_zegnaranking/mapranking_page

    Print the map ranking.

    Example context (json):
    {
        "regions": [{
            "id": 2,
            "name": "North America",
            "points": "123",
            "newline": "false"
        }]
    }
}}

<div class="row">
{{#regions}}
    {{#newline}}
        </div>
        <div class="row">
    {{/newline}}
        <div class="col-md-4" style="display: inline-table;">
            <a href="{{{config.wwwroot}}}/blocks/zegnaranking/groupranking.php?groupid={{{id}}}">
                <div class="card text-center">
                    <div class="card-img" style="margin-bottom: 5px">
                        <a href="{{{config.wwwroot}}}/blocks/zegnaranking/groupranking.php?groupid={{{id}}}">
                            {{{picture}}}
                        </a>
                    </div>
                    <a href="{{{config.wwwroot}}}/blocks/zegnaranking/groupranking.php?groupid={{{id}}}">
                        <h4 class="card-title">{{name}}</h4>
                    </a>
                    <a href="{{{config.wwwroot}}}/blocks/zegnaranking/groupranking.php?groupid={{{id}}}">
                        <p class="card-text points">{{points}} <span class="mini">pts</span></p>
                    </a>
                </div>

        </div>
{{/regions}}
</div>