{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_zegnaranking/groupranking_page

    Print the module ranking.

    Example context (json):
    {
        "itemname": "12",
        "groupname": "South America",
        "students": [{
            "pos "1",
            "points": "123",
            "fullname": "Jhon Doe",
            "userpicture": "<img src='' />"
        }]
    }
}}

<h2><i class='fa fa-angle-double-left'></i> {{{itemname}}} - <span class='mini'>{{#str}} individualclassification, block_zegnaranking{{/str}}</span> <i class='fa fa-angle-double-right'></i></h2>

<h3>{{{ groupname }}} <i class='fa fa-angle-double-right'></i> <span class='mini'>{{{itemname}}}</span></h3>

<table class="table table-hover">
    <tbody>
        {{#students}}
            <tr>
                <td width="20%" style="vertical-align: middle"><div class='pos-circle'>{{{pos}}}</div></td>
                <td width="80%"><div class='user-info'>{{{userpicture}}} <p class='user-name'>{{{fullname}}}</p></div></td>
                <td width="20%"><div class="ribbon">{{{points}}}<span class="mini">pts</span></div></td>
            </tr>
        {{/students}}
    </tbody>
</table>

{{^students}}
    {{#str}} nostudents, block_zegnaranking {{/str}}
{{/students}}
